*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FredokaOne;
}
.hide {
  display: none !important;
}
a {
  text-decoration: none;
  color: $color-link-default;
}
ul {
  list-style: none;
}
input[type="checkbox"] {
  appearance: none;
}
img {
  width: 100%;
}
.exclude-pointer-events {
  pointer-events: none;
}
